* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    color: #242424;
}

button {
    font-family: 'Muli', sans-serif;
}

path,
i,
svg {
    pointer-events: none;
}

.colors {
    min-height: 80vh;
    display: flex;
    color: #494949;
}

.color {
    height: 80vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    overflow: hidden;
}

.color h2 {
    font-size: 2rem;
    cursor: pointer;
}

.sliders {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    background-color: white;
    padding: 1rem;
    width: 80%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    pointer-events: none;
    opacity: 0;
    /* We Are adding aadjustment calss */
    /* so are overflow shows it below */
    transform: translateY(100px);
    transition: all 0.5s ease-in-out;
}

.sliders.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}

.sliders button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border: none;
    background: rgb(73, 73, 73);
    color: #ffffff;
    font-weight: 800;
    cursor: pointer;
}

.controls {
    display: flex;
    flex-direction: column;
}

.panel {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 20vh;
}

.panel button {
    font-size: 1.2rem;
    margin: 1rem;
    padding: 1rem 2rem;
    background: rgb(31, 33, 63);
    border: none;
    color: #ffffff;
    border-radius: 1rem;
    cursor: pointer;
}

.panel p {
    font-size: 1.2rem;
}

.library-panel,
.generate-panel,
.save-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.adjust,
.lock {
    font-size: 2rem;
    border: none;
    background: none;
    cursor: pointer;
    margin: 2rem 0;
}

/* SLider  */
input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    margin: 1rem 0;
    width: 100%;
    position: relative;
    border-radius: 1rem;
    cursor: pointer;
}

.copy-container,
.save-container,
.library-container {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 0.5s ease-in-out;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.copy-popup,
.save-popup,
.library-popup {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2rem;
    transition: transform 0.5s ease;
    transform: translateY(-2rem);
    min-width: 30%;
    min-height: 30vh;
}

.copy-popup h4,
.save-popup h4,
.library-popup h4 {
    font-size: 2rem;
    padding: 2rem;
}

.copy-container.active,
.save-container.active,
.library-container.active {
    opacity: 1;
    pointer-events: all;
}

.copy-popup.active,
.save-popup.active,
.library-popup.active {
    transform: translateY(0rem);
}

.close-save,
.close-library {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border: none;
    background: #494949;
    color: #ffffff;
    font-weight: 800;
    cursor: pointer;
}

button:focus,
button:active {
    outline: none;
}

.submit-save {
    font-size: 1.2rem;
    margin: 1rem;
    padding: 1rem 3rem;
    background: rgb(31, 33, 63);
    border: none;
    color: #ffffff;
    border-radius: 1rem;
    cursor: pointer;
}

.save-name {
    font-size: 1.2rem;
    padding: 1rem;
    margin-bottom: 1.5em;
    border: 2px solid #494949;
    border-radius: 10px;
    background: #eaeaea;
}

.save-name:active,
.save-name:focus {
    outline: none;
}

.library-popup {
    min-width: 40%;
    padding: 1rem;
    justify-content: flex-start;
    overflow-y: scroll;
    max-height: 60vh;
}

.custom-palette {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 2rem;
}

.small-preview {
    display: flex;
    flex: 1;
}

.small-preview div {
    flex: 1;
    height: 5rem;
}

.custom-palette h4 {
    flex: 1;
}

.pick-palette-btn {
    margin-left: 1em;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: #494949;
    border-radius: 10px;
    color: #ffffff;
}
.pick-palette-btn:hover {
    background-color: #1f1f1f;
}

.pick-palette-btn:active {
    transform: translateY(3px);
}
